<% include ./_layouts/header %>
<h2 class="page-title">Add a state</h2>
<a href="/my_states" class="btn btn-primary">Back to all my states</a>
<br><br>

<form method="post" action="/my_states/edit/<%= state.state_id %>">
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Name" value="<%= state.name %>">
    </div>
    <div class="form-group">
        <label for="">Allowed Tags</label>
        <input type="text" class="form-control" name="tags" placeholder='Tags: Use ";" to separate, For example, "food; cat"' value="<%= state.tags %>">
    </div>
    <div class="form-group">
        <label for="">Allowed Keywords</label>
        <input type="text" class="form-control" name="keywords" placeholder='Keywords: Use ";" to separate' value="<%= state.keywords %>">
    </div>
    <div class="form-group">
        <label for="">Within Radius</label>
        <input type="text" class="form-control" name="withinRadius" placeholder='Within Radius (yards)' value="<%= state.within_radius %>">
    </div>
    <div class="form-group">
        <label for="">Post By</label>
        <select class="form-control" name="postBy">
            <% if (state.postBy == 'friends') { %>
                <option selected="selected" value="friends">Friends</option>
            <% } else { %>
                <option value="friends">Friends</option>
            <% } %>
            <% if (state.postBy == 'everyone') { %>
                <option selected="selected" value="everyone">Everyone</option>
            <% } else { %>
                <option value="everyone">Everyone</option>
            <% } %>
            <% if (state.postBy == 'only me') { %>
                <option selected="selected" value="me">Me</option>
            <% } else { %>
                <option value="me">Me</option>
            <% } %>
        </select>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
<% include ./_layouts/footer %>
