<% include ./_layouts/header %>
<h2 class="page-title">Edit a note</h2>
<a href="/my_notes" class="btn btn-primary">Back to all my notes</a>
<br><br>

<% if (!errors) { %>
    <form method="post" action="/my_notes/edit/<%= id %>">
        <div class="form-group">
            <label for="">Text</label>
            <input type="text" class="form-control" name="text" value="<%= text %>" placeholder="Text">
        </div>

        <div class="form-group">
            <label for="">Radius</label>
            <input type="text" class="form-control" name="radius" value="<%= radius %>" placeholder="Radius">
        </div>

        <div class="form-group">
            <label for="">Visibility</label>
            <select class="form-control" name="visibility">
                <% if (visibility == 'friends') { %>
                    <option selected="selected" value="friends">Friends</option>
                <% } else { %>
                    <option value="friends">Friends</option>
                <% } %>
                <% if (visibility == 'everyone') { %>
                    <option selected="selected" value="everyone">Everyone</option>
                <% } else { %>
                    <option value="everyone">Everyone</option>
                <% } %>
                <% if (visibility == 'only me') { %>
                    <option selected="selected" value="me">Me</option>
                <% } else { %>
                    <option value="me">Me</option>
                <% } %>
            </select>
        </div>

        <br><br>

        <div class="form-group">
            <label for="">Start Date</label>
            <input type="date" class="form-control" name="start_date" value="<%= start_date %>">
        </div>

        <div class="form-group">
            <label for="">End Date</label>
            <input type="date" class="form-control" name="end_date" value="<%= end_date %>">
        </div>

        <div class="form-group">
            <label for="">Start Time</label>
            <input type="time" class="form-control" name="start_time" value="<%= start_time %>">
        </div>

        <div class="form-group">
            <label for="">End Time</label>
            <input type="time" class="form-control" name="end_time" value="<%= end_time %>">
        </div>

        <div class="form-group">
            <label for="">Frequency</label>
            <select class="form-control" name="frequency" >
                <% if (frequency == 'once') { %>
                    <option selected="selected" value="once">Just Once</option>
                <% } else { %>
                    <option value="once">Just Once</option>
                <% } %>
                <% if (frequency == 'daily') { %>
                    <option selected="selected" value="daily">Every Day</option>
                <% } else { %>
                    <option value="daily">Every Day</option>
                <% } %>
                <% if (frequency == 'weekly') { %>
                    <option selected="selected" value="weekly">Every Week</option>
                <% } else { %>
                    <option value="weekly">Every Week</option>
                <% } %>
                <% if (frequency == 'monthly') { %>
                    <option selected="selected" value="monthly">Every Month</option>
                <% } else { %>
                    <option value="monthly">Every Month</option>
                <% } %>
                <% if (frequency == 'annual') { %>
                    <option selected="selected" value="annual">Every Year</option>
                <% } else { %>
                    <option value="annual">Every Year</option>
                <% } %>
            </select>
        </div>

        <br><br>

        <div class="form-group">
            <label for="">Latitude</label>
            <input type="text" class="form-control" name="lat" value="<%= lat %>">
        </div>
        <div class="form-group">
            <label for="">Longitude</label>
            <input type="text" class="form-control" name="lon" value="<%= lon %>">
        </div>
        <button class="btn btn-default" formaction="/notes/edit-geo/empire_state">Use Empire State Building</button>
        <button class="btn btn-default" formaction="/notes/edit-geo/nyu_tandon">Use NYU Tandon</button>
        <button class="btn btn-default" formaction="/notes/edit-geo/chelsea">Use Chelsea Market</button>

        <br><br>

        <button class="btn btn-default">Submit</button>
    </form>
<% } %>
<% include ./_layouts/footer %>
