<% include ./_layouts/header %>
<h2 class="page-title"><%= title %></h2>

<br><br>

<form>
    <label for="">Your default current location is at {lat: 40.693710, lon:-73.987221}.</label>
    <label for="">Your real current time is <%= utils.getDateTimeString(currDT) %>.</label>
    <div><a target="_blank" href="https://www.latlong.net/convert-address-to-lat-long.html">Get Lat Lon from Address</a></div>
    <br>
    <input type="text" class="form-control" name="currLat" value="<%= currLat %>">
    <input type="text" class="form-control" name="currLon" value="<%= currLon %>">
    <input type="text" class="form-control" name="currDT" value="<%= utils.getDateTimeString(currDT) %>">
    <button class="btn btn-default" formmethod="post" formaction="/tags/curr_time_and_location/custom/">Set Customized Time and Location</button>
    <button class="btn btn-default" formmethod="post" formaction="/tags/curr_time_and_location/default/">Set Real Time and Default Location</button>
</form>

<br><br>

<div>
    <% if (!notesWithQuote.length) { %>
        <div>No active notes are available at this time and location! </div>
    <% } else { %>
        <% notesWithQuote.forEach(function(noteWithQuote) { %>
            <div class="note-area">
                <% if (noteWithQuote.original_postby != null) { %>
                <div class="original-note">
                    <div><%- `Reply: ${utils.clickableUserName(noteWithQuote.original_postby)}: ${utils.textWithClickableTags(noteWithQuote.original_text)}` %></div>
                    <div class="note-timestamp"><%= `Posted at: ${utils.getDateTimeString(noteWithQuote.original_ts)}` %></div>
                </div>
                <% } %>
                <div class="note-content"><%- `${utils.clickableUserName(noteWithQuote.username)}: ${utils.textWithClickableTags(noteWithQuote.text)}` %></div>
                <div>
                    <div class="note-timestamp"><%= `Posted at: ${utils.getDateTimeString(noteWithQuote.timestamp)}` %></div>
                    <div class="reply-click"><a href="/notes/<%= noteWithQuote.note_id %>/reply">Reply</a></div>
                </div>
            </div>
        <% }); %>
    <% } %>
</div>

<% include ./_layouts/footer %>
