<% include ./_layouts/header %>
<h2 class="page-title"><%= title %></h2>
<a href="/notes/add-note" class="btn btn-primary">Add a new note</a>

<br><br>

<form method="post" action="/my_states/set-current">
    <select name="currState">
        <option value="default">Default</option>
        <% myStates.forEach(function(state) { %>
            <% if (currState === state.name) { %>
                <option selected="selected" value="<%= state.name %>"><%= state.name %></option>
            <% } else { %>
                <option value="<%= state.name %>"><%= state.name %></option>
            <% } %>
        <% }) %>
    </select>
    <button class="btn btn-secondary">Set State</button>
</form>

<br><br>

<form>
    <label for="">Your default current location is at {lat: 40.7539278, lon: -73.9865007}.</label>
    <label for="">Your real current time is <%= utils.getDateTimeString(currDT) %>.</label>
    <div><a target="_blank" href="https://www.latlong.net/convert-address-to-lat-long.html">Get Lat Lon from Address</a></div>
    <br>
    <div class="customized-setting">
        <label for="currLat">Current Latitude</label>
        <input type="text" class="setting-box" name="currLat" value="<%= currLat %>">
    </div>
    <div class="customized-setting">
        <label for="currLon">Current Longitude</label>
        <input type="text" class="setting-box" name="currLon" value="<%= currLon %>">
    </div>
    <div class="customized-setting">
        <label for="currDT">Current DateTime</label>
        <input type="text" class="setting-box" name="currDT" value="<%= utils.getDateTimeString(currDT) %>">
    </div>
    <% if (!tagLimit) { %>
    <button class="btn btn-secondary" formmethod="post" formaction="/customize/curr_time_and_location/custom?currState=<%= currState %>">Set Customized Time and Location</button>
    <button class="btn btn-secondary" formmethod="post" formaction="/customize/curr_time_and_location/default?currState=<%= currState %>">Set Real Time and Default Location</button>
    <% } else { %>
    <button class="btn btn-secondary" formmethod="post" formaction="/customize/curr_time_and_location/custom?tag=<%= tagLimit %>">Set Customized Time and Location</button>
    <button class="btn btn-secondary" formmethod="post" formaction="/customize/curr_time_and_location/default?tag=<%= tagLimit %>">Set Real Time and Default Location</button>
    <% } %>
</form>

<br><br>

<div>
    <% if (!notesWithQuote.length) { %>
        <div>No active notes are available at this time and location! </div>
    <% } else { %>
        <% notesWithQuote.forEach(function(noteWithQuote) { %>
            <div class="note-area">
                <% if (noteWithQuote.original_postby != null) { %>
                <div class="original-note">
                    <div><%- `Reply: ${utils.clickableUserName(noteWithQuote.original_postby)}: ${utils.textWithClickableTags(noteWithQuote.original_text)}` %></div>
                    <div class="note-timestamp"><%= `Posted at: ${utils.getDateTimeString(noteWithQuote.original_ts)}` %></div>
                </div>
                <% } %>
                <div class="note-content"><%- `${utils.clickableUserName(noteWithQuote.username)}: ${utils.textWithClickableTags(noteWithQuote.text)}` %></div>
                <div>
                    <div class="note-timestamp"><%= `Posted at: ${utils.getDateTimeString(noteWithQuote.timestamp)}` %></div>
                    <div class="reply-click"><a href="/reply-note/<%= noteWithQuote.note_id %>">Reply</a></div>
                </div>
            </div>
        <% }); %>
    <% } %>
</div>

<% include ./_layouts/footer %>
