<% include ./_layouts/header %>
<h2 class="page-title">Notes</h2>
<a href="/notes/add-note" class="btn btn-primary">Add a new note</a>
<a href="/my_notes" class="btn btn-primary">My notes</a>

<br><br>

<form method="post" action="/my_states/set-current">
    <select name="currState">
        <option value="default">Default</option>
        <% myStates.forEach(function(state) { %>
            <% if (currState === state.name) { %>
                <option selected="selected" value="<%= state.name %>"><%= state.name %></option>
            <% } else { %>
                <option value="<%= state.name %>"><%= state.name %></option>
            <% } %>
        <% }) %>
    </select>
    <button class="btn btn-default">Set State</button>
</form>

<form>
    <label for="">Your default current location is at {lat: 40.7539278, lon: -73.9865007}.</label>
    <input type="text" class="form-control" name="currLat" value="<%= currLat %>">
    <input type="text" class="form-control" name="currLon" value="<%= currLon %>">
    <button class="btn btn-default" formmethod="post" formaction="/notes/curr_location/custom/<%= currState %>">Set A Different Current Location</button>
    <button class="btn btn-default" formmethod="post" formaction="/notes/curr_location/default/<%= currState %>">Set Default Current Location</button>
</form>

<br><br>

<table class="table table-striped sorting">
    <thead>
    <tr>
        <th>Text</th>
        <th>Posted By</th>
        <th>Post Time</th>
    </tr>
    </thead>
    <tbody>
    <% notes.forEach(function(note) { %>
        <tr>
            <td><%- utils.textWithClickableTags(note.text) %></td>
            <td><%= note.username %></td>
            <td><%= note.timestamp %></td>
        </tr>
    <% }); %>
    </tbody>
</table>

<% include ./_layouts/footer %>
